body {
    margin: 0;
}

/* NAVIGATION */

.navbar {
    position: relative;
    background-color: #bdd0c4;
    overflow: hidden;
    align-self: start;
}

.navbar a {
    float: left;
    color: darkslategrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: 24px;
}

.navbar a.noPadding {
    padding: 0;
}

.navbar a:hover {

    text-decoration: underline;
    text-decoration-color: darkslategrey;
    text-decoration-style: solid;
    font-weight: bold;
}

.navbar a.active {
    text-decoration: underline;
    text-decoration-color: darkslategrey;
    text-decoration-style: solid;
    font-weight: bold;
}

.center{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center a {
    padding: 14px 16px;
}

.navbar .right {
    float: right;
}


@media screen and (max-width: 600px) {
    .navbar a, .navbar .right {
        float: none;
        display: block;
    }

    .navbar .center {
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }
}

.logo img {
    width: 200px;
    margin-left: 25px;
    padding: 14px 16px;
}

@media screen and (max-width: 1050px) and (min-width: 600px) {
    .logo img {
        content:url("../logo/logo-kompakt@0,5x.png");
        width: 50px;
    }
}

@media screen and (max-width: 600px) {
    .logo img{
        display: none;
        width: 50px;
        padding: 25px 16px;
        float: left;
    }
    .navbar .center a {
        padding: 14px 0;
    }
}








.containerFullScreen {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    height: 100vh;
}


.backgroundImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: 4;

    height: 100vh;
}

@media screen and (max-width: 1000px) {
    .backgroundImage {
        background-image: url("../background/background@0,5x.jpg");
    }
}

@media screen and (min-width: 1000px) {
    .backgroundImage {
        background-image: url("../background/background.jpg");
    }
}

.definition {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    z-index: 1;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 6;
    text-align: center;
    align-self: center;
}



@media screen and (max-height: 360px){
    .definition {
        grid-column-start: 1;
        grid-column-end: end;
        border-radius: 0;
    }
}

@media screen and (max-width: 600px) {
    .definition {
        grid-column-start: 1;
        grid-column-end: end;
        border-radius: 0;
    }
}



.our_solution {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    z-index: 1;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 6;
    text-align: center;
    align-self: center;
}

@media screen and (max-width: 1050px) and (min-width: 600px) {
    .our_solution {
        grid-column-start: 2;
        grid-column-end: 10;
    }
}

@media screen and (max-height: 460px){
    .our_solution {
        grid-column-start: 1;
        grid-column-end: end;
        grid-row-end: end;
        border-radius: 0;
    }
}

@media screen and (max-width: 600px) {
    .our_solution {
        grid-column-start: 1;
        grid-column-end: end;
        border-radius: 0;
    }
}



.our_solution p {
    text-align: left;
    margin-left: 10px;
}

.illustration {
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;

}

.containerSmall {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10%;
    height: 30vh;
}

.partnerBox {
    background-color: #bdd0c4;
    font-family: 'Karla', sans-serif;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: end;
    text-align: center;
}

.partnerImage {
    width: 10vw;
    min-width: 75px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom:25px;
    text-decoration: none;
}