body {
    margin: 0px;
}

.backgroundImage {
    background-image: url("../Greenhouse (cannabis).jpg");

    min-height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.navbar {
    position: relative;
    background-color: transparent;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: darkslategrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.navbar a:hover {
    background-color: darkslategrey;
}

.navbar a.active {
    background-color: seagreen;
}

.center{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar .right {
    float: right;
}


@media screen and (max-width: 600px) {
    .navbar a, .navbar .right {
        float: none;
        display: block;
    }

    .navbar .center {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}