body {
    margin: 0px;
}

.backgroundImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.navbar {
    position: relative;
    background-color: transparent;
    overflow: hidden;
    align-self: start;

    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 1;
}

.navbar a {
    float: left;
    color: darkslategrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: 24px;

}

.navbar a:hover {

    text-decoration: underline;
    text-decoration-color: darkslategrey;
    text-decoration-style: solid;
    font-weight: bold;
}

.navbar a.active {
    text-decoration: underline;
    text-decoration-color: darkslategrey;
    text-decoration-style: solid;
    font-weight: bold;
}

.center{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center a {
    padding: 14px 16px;
}

.navbar .right {
    float: right;
}


@media screen and (max-width: 600px) {
    .navbar a, .navbar .right {
        float: none;
        display: block;
    }

    .navbar .center {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}


.container {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}


.backgroundImage {
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: 4;

    min-height: 100vh;
}

@media screen and (max-width: 600px) {
    .backgroundImage {
        background-image: url("../background/background@0,25x.png");
    }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
    .backgroundImage {
        background-image: url("../background/background@0,5x.png");
    }
}

@media screen and (min-width: 1000px) {
    .backgroundImage {
        background-image: url("../background/background.png");
    }
}

.logo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    justify-self: center;
}

.logo img {
    max-width: 50%;
    margin: 40px;
}

@media screen and (max-width: 1050px) and (min-width: 600px) {
    .logo img {
        content:url("../logo/logo-kompakt@0,5x.png");
    }
}

@media screen and (max-width: 600px) {
    .logo img{
        content:url("../logo/logo-kompakt@0,25x.png");
    }
}
.definition {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    z-index: 1;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 6;
    text-align: center;
    align-self: center;
}



@media screen and (max-height: 360px){
    .definition {
        grid-column-start: 1;
        grid-column-end: end;
        border-radius: 0px;
    }
}

@media screen and (max-width: 600px) {
    .definition {
        grid-column-start: 1;
        grid-column-end: end;
        border-radius: 0px;
    }
}



.our_solution {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    z-index: 1;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 7;
    text-align: center;
    align-self: center;
}

@media screen and (max-width: 1050px) and (min-width: 600px) {
    .our_solution {
        grid-column-start: 2;
        grid-column-end: 10;
    }
}

@media screen and (max-height: 460px){
    .our_solution {
        grid-column-start: 1;
        grid-column-end: end;
        grid-row-end: end;
        border-radius: 0px;
    }
}

@media screen and (max-width: 600px) {
    .our_solution {
        grid-column-start: 1;
        grid-column-end: end;
        border-radius: 0px;
    }
}



.our_solution p {
    text-align: left;
    margin-left: 10px;
}

.illustration {
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;

}
